
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FBFBFB;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

header{
    margin-bottom: 7rem;
}


aside{
    height: 100%;
    width: 40%;
    background-color: #1DA1F2;
    padding: 3rem;
    align-items: center;
    color: white;
}

.quote-container{
   max-width: 98% ;
}

.quote-mark{
    margin-bottom: 1rem;
}

.quote-mark > i{
    font-size: 2rem;             
    color: #00DAF7;
}

.quote-paragraph{
    font-weight: 300 ;
    letter-spacing: 1px;
    line-height: 2rem;
    margin-bottom: .7rem;
}

.author-name-of-quote{
    position: relative;

}

.author-name-of-quote span i{
    color: #08AD36;
    font-size: 1rem;
    display: inline;
    margin-left: 10px;
    top: .3rem;
    left: 3.5rem;
}





