body{
    display: flex;
    background-color: #fbfbfb;
}
body nav{
    width: 100vw;
    background-color: #0B6D12;
    height: 10vh;
}

.element{
    color: white;
    margin: 2rem;
    font-size: 1.3rem;
}

body header button{
    color: black;
}

#navbarSupportedContent{
    background-color: #0B6D12;
}

.sideContact{
    margin-top: 10vh;
    background-color: #F2F8FB;
    height: 90vh;
    overflow-y: scroll;
}
.list-group{
    border-radius: 0px;
}
.list-group-item{
    background-color: #F2F8FB;
    border: none;
    border-radius: 0px;
}

.list-group-item:hover{
    background-color: #cdd4d7 ;
}

.coursesContact p{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.sideContact i{
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: #1faf28;
    border-radius: 6px;
    text-align: center;
    padding-top: 0.5rem;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}
/* testing chat */

.recieved p{
    height: auto;
    background-color: #C5E9FF;
    width: 40%;
    border-radius: 30px;
    padding: 1rem;
}

.recievedTime{
    display: block;
    margin-left: 80%;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
.sentTime{
    margin-top: 0.5rem;
    display: block;
    margin-left: 78%;
    font-size: 0.6rem;
}

.sent p{
    height: auto;
    background-color: #FFEAF6;
    width: 40%;
    border-radius: 30px;
    padding: 1rem;
    margin-left: 55%;
}

.sendText button{
    margin-left: 95%;
}

.sendText textarea{
    border-radius: 10px;
    margin-left: 0px;
    width: 100%;
    height: 13vh;
    padding-left: 1rem;
}


.chatScreen{
    margin-top: 10vh;
}

.chatScreen div{
    width: 80vw;
    /* background-color: red; */
}

.chatScreen a{
    margin-left: 1rem;
}

#addText{
    scroll-behavior: smooth;
}

.chatScreen i{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #C5E9FF;
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    padding-top: 0.5rem;
}

.selectedInstructor{
    margin-left: 1.2rem;
    font-size: 1.7rem;
}

.horizontalLine{
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.685);
}
.emptyChat{
    padding: 1rem;
    overflow-x:hidden;
    overflow-y:auto;
    height: 55vh;
    margin-bottom: 0px;
}

.sendContainer{
    background-color: blue;
    height: 20vh;
}

.sendContainer{
    width: 15vw;
    height: 15vh;
}

.sendText{
    margin-top: 0px;
    padding: 1rem;
}

@media screen and (max-width: 1000px){
    .list-group-item{
        font-size: 10px;
    }

    .coursesContact p{
        font-weight: bold;
        font-size: 1rem;
        margin-top: 1rem;
    }

    .sideContact i{
        display: none;
    }

    .emptyChat{
        font-size: 0.5rem;
        width: 90%;
        padding: 1rem;
    }

    .sendText textarea{
        height: 11vh;
    }

    .sendText button{
        margin-left: 1%;
        width: 100%;
    }

    .sentTime{
        font-size: 7px
    }

    .recievedTime{
        font-size: 7px;
    }

    .searchBar{
        display: flex;
        flex-direction: column;
    }

    .searchBar i {
        display: inline;
    }

}

.searchBar{
    margin-left: 10px;
}




