.allPage{
    height: 100vh;
}

.side{
    background-color: #0B6D12;
}

.backBtn button{
    border: none;
    color: gray;
    background-color: white;
}

.backBtn button:hover{
    font-weight: bolder;
}

select,input{
    height: 45px;
    width: 75%;
    background-color: white;
    border: 0.2px solid black;
    border-radius: 12px;
    padding: 0.4rem;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
    border-radius: 6px;

}


@keyframes wiggle{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(2deg);
    }
    30%{
        transform: rotate(-2deg);
    }
    40%{
        transform: rotate(2deg);
    }
    50%{
        transform: rotate(-2deg);
    }
    70%{
        transform: rotate(2deg);
    }
    80%{
        transform: rotate(-2deg);
    }
    90%{
        transform: rotate(2deg);
    }
}

select:focus{
    border: 1px solid #1565D8;
}

#schoolGrades,#personalPhoto,#idOrPassport{
  position: absolute;
  width: 80%;
  height: 10rem;
  outline: none;
  opacity: 0;
  z-index: 33;
}

#schoolSpan,#personalPhotoSpan,#idOrPassportSpan{
    position: absolute;
    top: 60%;
    width: 80%;
    height: 10rem;
    padding: 3.8rem;
    border: 2px dashed #000;
}

.continueBtn{
    margin-top: 15%;
    margin-left: 35%;
    padding: 0.8rem 6rem;
    background-color: #0B6D12;
    color: white;
}